@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box; }

section {
  padding: 0px 20px; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: #17181C; }

/*CONTAINER*/
.container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto; }

.fade_block {
  overflow: hidden; }

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 50px 0 40px;
  z-index: 1; }
  .header_inner:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: #202529;
    display: block;
    display: block;
    left: -2px;
    bottom: 8px; }
  .header_inner:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: #202529;
    display: block;
    display: block;
    right: -2px;
    bottom: 8px; }
  @media screen and (max-width: 795px) {
    .header_inner {
      justify-content: center; } }

@media screen and (max-width: 765px) {
  .header_logo {
    margin-left: 9px; } }

.header_logo a {
  text-decoration: none; }

.header-half-block {
  display: block;
  margin-bottom: 13px;
  max-width: 100%;
  width: calc(100% + 30px);
  margin: 0 auto;
  height: 24px;
  background-color: #202529;
  position: absolute;
  bottom: -8px;
  border-radius: 0 0 45px 45px;
  border-bottom: 1px solid #C59A43;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  z-index: -1; }
  @media screen and (max-width: 1300px) {
    .header-half-block {
      /*     width: calc(100% - 60px); */
      width: calc(100% - 30px); } }
  @media screen and (max-width: 795px) {
    .header-half-block {
      display: none; } }
  .header-half-block:before {
    content: "";
    background-image: url("../images/Union (2).svg");
    background-size: 59px 17px;
    width: 60px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -9px;
    left: -15px;
    z-index: 1; }
  .header-half-block:after {
    content: "";
    background-image: url("../images/Union (1).svg");
    background-size: 59px 17px;
    width: 60px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -9px;
    right: -15px;
    z-index: 1; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #202529;
  border-bottom: 1px solid #C59A43;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6); }
  @media screen and (max-width: 795px) {
    .header {
      border-bottom: none;
      /*     padding-bottom: 11px; */
      padding-bottom: 6px; } }
  .header .container {
    position: relative;
    top: 8px; }

.logo_image {
  width: 39.18px;
  margin-right: 6px; }
  @media screen and (max-width: 765px) {
    .logo_image {
      margin-right: unset;
      width: auto;
      height: auto; } }

.mobile-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #202529; }
  .mobile-wrapper:first-child a {
    margin-left: 20px; }

.nav {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 19px;
  align-items: center; }
  @media screen and (max-width: 795px) {
    .nav {
      display: none;
      width: 75%;
      position: absolute;
      top: 95%;
      left: 0;
      background: #2A3036; } }
  .nav .nav_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 34px;
    color: #DEAD4B;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    transition: 0.5s color linear; }
    @media screen and (max-width: 805px) {
      .nav .nav_link {
        font-size: 14px; } }
    @media screen and (max-width: 795px) {
      .nav .nav_link {
        padding: 15px 5px;
        margin: 0;
        margin-left: 15px; } }
    .nav .nav_link:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      opacity: 0;
      background-color: #F1BC51;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      transition: opacity 0.4s linear; }
      @media screen and (max-width: 795px) {
        .nav .nav_link:after {
          display: none; } }
    .nav .nav_link:hover {
      color: #F1BC51; }

.mobile {
  display: none; }

.mobile-inner {
  position: relative;
  width: 76%;
  padding: 53px 20px;
  background: #2A3036;
  height: 100vh; }

@media screen and (max-width: 795px) {
  .nav.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: start;
    background-color: rgba(29, 30, 34, 0.9); } }

.nav_link:hover:after,
.nav_link.active:after {
  opacity: 1; }

.download_now {
  margin-left: 8px;
  padding: 3px 10px;
  background: #DEAD4B;
  border-radius: 8px;
  text-decoration: none;
  color: #17181C;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 144%;
  transition: 0.4s linear; }
  @media screen and (max-width: 805px) {
    .download_now {
      font-size: 14px; } }
  .download_now:hover {
    background: #FFBB32; }

.nav_link:hover:after,
.nav_link.active:after {
  opacity: 1; }

.nav-toggle {
  display: none;
  position: absolute;
  top: 5px;
  left: 18px;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 8px 0;
  z-index: 1;
  width: 22px; }
  @media screen and (max-width: 795px) {
    .nav-toggle {
      display: block; } }

.nav-toggle:focus {
  outline: 0; }

.nav-toggle_item {
  width: 75%;
  display: block;
  height: 2px;
  background: linear-gradient(180deg, #F1BC51 0%, #917444 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background .2s linear; }
  .nav-toggle_item:before, .nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: linear-gradient(180deg, #F1BC51 0%, #917444 100%);
    left: 0;
    z-index: 1; }
  .nav-toggle_item:before {
    bottom: -6px; }
  .nav-toggle_item:after {
    bottom: -12px; }

#close-mobile {
  position: absolute;
  right: 25px;
  top: 24px;
  cursor: pointer; }

/* .nav-toggle_item:before,
.nav-toggle_item:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: linear-gradient(180deg, #F1BC51 0%, #917444 100%);
  left: 0;
  z-index: 1;

} */
.download-desktop-app {
  position: relative;
  padding-top: 109px;
  background-image: url("../images/Rectangle 21.png");
  background-size: cover;
  width: 100%;
  height: 942px;
  background-repeat: no-repeat; }
  @media screen and (max-width: 765px) {
    .download-desktop-app {
      background-position: center;
      padding-top: 50px;
      height: auto; } }
  .download-desktop-app .drop-down-arrow {
    background-image: url("../images/Arrow.svg");
    background-size: 59px 17px;
    width: 80px;
    height: 43px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 11px;
    right: 50%;
    z-index: 3;
    left: calc(50% - 27px);
    background-size: 100%;
    cursor: pointer; }
    @media screen and (max-width: 795px) {
      .download-desktop-app .drop-down-arrow {
        display: none; } }

.intro-inner {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  flex-direction: column; }

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .intro img {
    margin-bottom: 16px; }
  .intro iframe {
    width: 82%;
    height: 457px;
    margin-bottom: 16px; }
    @media screen and (max-width: 1050px) {
      .intro iframe {
        height: 383px; } }
    @media screen and (max-width: 850px) {
      .intro iframe {
        height: 400px; } }
    @media screen and (max-width: 765px) {
      .intro iframe {
        width: 100%;
        height: 350px; } }
    @media screen and (max-width: 575px) {
      .intro iframe {
        height: 250px; } }
    @media screen and (max-width: 375px) {
      .intro iframe {
        height: 195px; } }
  @media screen and (max-width: 455px) {
    .intro .info-title-m1 {
      display: block;
      max-width: 260px;
      font-size: 27px;
      margin-bottom: 21px; } }
  .intro .caption-mobile {
    max-width: 235px;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #F2F2F2;
    margin-bottom: 6px; }
  .intro p {
    max-width: 650px;
    font-family: 'Karla';
    font-weight: 300;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #F2F2F2;
    margin-bottom: 19px; }
    @media screen and (max-width: 655px) {
      .intro p {
        margin-bottom: 25px; } }
    @media screen and (max-width: 455px) {
      .intro p {
        font-size: 16px;
        line-height: 132%; } }
  @media screen and (max-width: 765px) {
    .intro .link {
      display: none; } }

.mobile-content {
  display: none; }
  @media screen and (max-width: 765px) {
    .mobile-content {
      display: inline-block; } }

@media screen and (max-width: 765px) {
  .desktop-content {
    display: none; } }

.button {
  border-radius: 0;
  padding: 14px 18px;
  font-weight: normal;
  font-family: 'Lato';
  font-size: 17px;
  line-height: 145%;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 18px;
  color: #0D0A1A;
  background: #F1BC51;
  text-decoration: none;
  transition: 0.2s; }
  .button:hover {
    background: #FFBB32; }

.link {
  color: #F2F2F2;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  transition: 0.4s linear;
  margin-bottom: 21px; }
  .link:hover {
    color: #F1BC51; }

.image-screenshot {
  border: 1.1px solid #F1BC51;
  width: 100%; }
  @media screen and (max-width: 2200px) {
    .image-screenshot {
      padding: 1px; } }
  @media screen and (max-width: 1800px) {
    .image-screenshot {
      padding: 0; } }

.wrapper {
  padding-top: 0; }

.main-features-learn {
  box-shadow: 4px 16px 40px 45px #17181C;
  position: relative;
  z-index: 2;
  margin-bottom: 30px; }
  @media screen and (max-width: 765px) {
    .main-features-learn {
      margin-bottom: -22px; } }
  .main-features-learn .last-line p {
    padding-right: 120px; }
    @media screen and (max-width: 765px) {
      .main-features-learn .last-line p {
        padding-right: 0; } }
  .main-features-learn .last-line h4 {
    padding-right: 37px;
    margin-bottom: 10px; }
  .main-features-learn .last-line:after {
    top: 32px;
    right: -75%; }
    @media screen and (max-width: 1047px) {
      .main-features-learn .last-line:after {
        top: 60px; } }
  .main-features-learn .last-line:before {
    top: 41px;
    right: -57%; }
    @media screen and (max-width: 1047px) {
      .main-features-learn .last-line:before {
        top: 69px; } }
    @media screen and (max-width: 765px) {
      .main-features-learn .last-line:before {
        right: unset; } }

.main-features {
  margin-bottom: 16px;
  background: #17181C;
  position: relative;
  z-index: 2;
  padding-bottom: 79px;
  box-shadow: 1px 64px 46px 45px #17181C; }
  @media screen and (max-width: 765px) {
    .main-features {
      background-image: url("../images/mobile-img/feature 2 bg.png");
      background-size: cover;
      background-position-y: -100px;
      padding-bottom: 22px; } }
  @media screen and (max-width: 765px) {
    .main-features .intro-inner {
      padding: 0 !important; } }

.info-features {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  @media screen and (max-width: 765px) {
    .info-features .info-title-m2 {
      text-align: left;
      margin: 0;
      margin-top: 42px; } }

.info-title-m1 {
  font-family: 'Marcellus';
  font-size: 40px;
  line-height: 130%;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 14px; }

.info-title-m2 {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 130%;
  color: #F1BC51;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 40px; }
  @media screen and (max-width: 455px) {
    .info-title-m2 {
      font-size: 22px;
      line-height: 132.33%; } }

.ta-c {
  text-align: center; }

.info-body {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-between;
  z-index: 1; }
  @media screen and (max-width: 765px) {
    .info-body {
      flex-wrap: wrap;
      margin-top: 25px; } }

.info-screen {
  width: 49.2%;
  position: relative;
  z-index: 1;
  padding-top: 5px;
  height: 340px; }
  .info-screen iframe {
    height: 100%; }
  @media screen and (max-width: 765px) {
    .info-screen {
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .info-screen {
      height: 200px; } }

.info-screen-mobile {
  margin-top: 56px; }
  .info-screen-mobile h4 {
    padding-right: 34px;
    margin-bottom: 2px; }
  .info-screen-mobile .mobile-text {
    width: 100%;
    margin: 0;
    position: relative;
    margin-top: 0px; }
    @media screen and (max-width: 765px) {
      .info-screen-mobile .mobile-text {
        width: 100%;
        margin-top: 0px;
        margin-left: 0; } }
    @media screen and (max-width: 640px) {
      .info-screen-mobile .mobile-text .info-title-m3 {
        font-size: 18px;
        width: 100%;
        text-align: center;
        line-height: 132.33%;
        margin-bottom: 4px; } }
    .info-screen-mobile .mobile-text p {
      font-family: 'Karla';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 145%;
      color: #F2F2F2;
      padding-right: 66px; }
      @media screen and (max-width: 640px) {
        .info-screen-mobile .mobile-text p {
          font-size: 16px;
          padding: 0;
          text-align: left;
          padding-left: 12px;
          line-height: 132%; } }
    @media screen and (max-width: 640px) {
      .info-screen-mobile .mobile-text:before {
        background-image: url("../images/mobile-img/Group 346.svg");
        left: 130px;
        top: -35px;
        content: "";
        width: 15px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1; } }
    @media screen and (max-width: 595px) {
      .info-screen-mobile .mobile-text:before {
        left: 95px; } }
    @media screen and (max-width: 525px) {
      .info-screen-mobile .mobile-text:before {
        left: 60px; } }
    @media screen and (max-width: 465px) {
      .info-screen-mobile .mobile-text:before {
        top: -35px;
        left: 8px; } }
    @media screen and (max-width: 640px) {
      .info-screen-mobile .mobile-text:after {
        content: "";
        background-image: url("../images/mobile-img/Vector 23.svg");
        height: 37px;
        width: 6px;
        top: -25px;
        left: 135px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1; } }
  @media screen and (max-width: 640px) and (max-width: 595px) {
    .info-screen-mobile .mobile-text:after {
      left: 100px; } }
  @media screen and (max-width: 640px) and (max-width: 525px) {
    .info-screen-mobile .mobile-text:after {
      left: 65px; } }
  @media screen and (max-width: 640px) and (max-width: 465px) {
    .info-screen-mobile .mobile-text:after {
      top: -25px;
      left: 13px; } }
    .info-screen-mobile .mobile-text .info-title-m3 {
      padding-right: 38px;
      margin-bottom: 1px; }

.ring:after {
  content: "";
  background-image: url("../images/ring asset 2.svg");
  width: 126%;
  background-size: 100%;
  height: 72%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -83px;
  left: -13%;
  z-index: -2; }
  @media screen and (max-width: 795px) {
    .ring:after {
      display: none; } }

.info-title-m3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 132.33%;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #0BB1C3; }

.info-text {
  position: relative;
  margin-top: -6px;
  width: 36.4%; }
  .info-text .line-mobile {
    display: none; }
    @media screen and (max-width: 640px) {
      .info-text .line-mobile {
        display: block;
        position: absolute;
        background-image: url("../images/mobile-img/Vector 23.svg");
        height: 37px;
        background-repeat: no-repeat;
        width: 6px;
        z-index: 1;
        top: -18px !important;
        left: 133px !important; } }
  @media screen and (max-width: 640px) and (max-width: 595px) {
    .info-text .line-mobile {
      left: 100px !important; } }
  @media screen and (max-width: 640px) and (max-width: 525px) {
    .info-text .line-mobile {
      left: 65px !important; } }
  @media screen and (max-width: 640px) and (max-width: 465px) {
    .info-text .line-mobile {
      top: -18px !important;
      left: 13px !important; } }
  @media screen and (max-width: 765px) {
    .info-text {
      width: 100%;
      margin-top: 2px;
      margin-left: 0; } }
  @media screen and (max-width: 640px) {
    .info-text .info-title-m3 {
      font-size: 18px;
      width: 100%;
      text-align: center;
      line-height: 132.33%;
      margin-bottom: 4px; } }
  .info-text:after {
    content: "";
    background-image: url("../images/tag.svg");
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 38px;
    left: -215px;
    z-index: 1;
    /*     @media screen and (max-width: 640px) {
      display: block;
      background-image: url('../images/mobile-img/Vector\ 23.svg');
      height: 37px;
      width: 6px;
      top: -18px !important;
      left: 133px !important;
    }

    @media screen and (max-width: 595px) {
      left: 100px !important;
    }

    @media screen and (max-width: 525px) {
      left: 65px !important;
    }

    @media screen and (max-width: 465px) {
      top: -18px !important;
      left: 13px !important;
    } */ }
    @media screen and (max-width: 1050px) {
      .info-text:after {
        width: 420px; } }
    @media screen and (max-width: 855px) {
      .info-text:after {
        top: 66px;
        top: 74px; } }
    @media screen and (max-width: 765px) {
      .info-text:after {
        display: none; } }
  .info-text:before {
    content: "";
    background-image: url("../images/Rectangle.svg");
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 48px;
    left: -225px;
    z-index: 1; }
    @media screen and (max-width: 855px) {
      .info-text:before {
        top: 82px; } }
    @media screen and (max-width: 640px) {
      .info-text:before {
        background-image: url("../images/mobile-img/Group 346.svg");
        left: 128px !important;
        top: -29px !important; } }
    @media screen and (max-width: 595px) {
      .info-text:before {
        left: 95px !important; } }
    @media screen and (max-width: 525px) {
      .info-text:before {
        left: 60px !important; } }
    @media screen and (max-width: 465px) {
      .info-text:before {
        left: 8px !important;
        top: -29px !important; } }
  .info-text p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    color: #F2F2F2;
    padding-right: 66px; }
    @media screen and (max-width: 640px) {
      .info-text p {
        font-size: 16px;
        padding: 0;
        text-align: left;
        padding-left: 14px;
        line-height: 132%; } }

.ingame-tags {
  position: relative;
  background-image: url("../images/swamp.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 14px;
  padding-bottom: 142px; }
  @media screen and (max-width: 1420px) {
    .ingame-tags {
      overflow: hidden; } }
  .ingame-tags:after {
    content: "";
    background-image: url("../images/echo.svg");
    background-size: 100%;
    width: 405px;
    height: 376px;
    position: absolute;
    bottom: 60px;
    left: 31px;
    background-repeat: no-repeat; }

.reverse {
  z-index: 1;
  flex-direction: row-reverse; }
  .reverse .info-screen {
    margin-left: 0px;
    width: 49%;
    margin-right: 3px; }
  .reverse .info-text {
    width: 32%;
    margin-left: 50px; }
    .reverse .info-text:after {
      content: "";
      background-image: url("../images/Line2.svg");
      height: 20px;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 139px;
      right: -54%;
      left: unset;
      background-position: right;
      z-index: 1; }
      @media screen and (max-width: 1059px) {
        .reverse .info-text:after {
          bottom: unset;
          top: 67px;
          right: -48%; } }
      @media screen and (max-width: 990px) {
        .reverse .info-text:after {
          right: -46%; } }
      @media screen and (max-width: 972px) {
        .reverse .info-text:after {
          bottom: 181px; } }
      @media screen and (max-width: 850px) {
        .reverse .info-text:after {
          right: -45%; } }
      @media screen and (max-width: 812px) {
        .reverse .info-text:after {
          bottom: 204px; } }
    .reverse .info-text:before {
      content: "";
      background-image: url("../images/Rectangle.svg");
      width: 15px;
      height: 20px;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 113px;
      top: unset;
      right: -56%;
      left: unset;
      z-index: 1; }
      @media screen and (max-width: 1140px) {
        .reverse .info-text:before {
          bottom: 139px; } }
      @media screen and (max-width: 1059px) {
        .reverse .info-text:before {
          top: unset;
          right: -51%;
          bottom: 142px; } }
      @media screen and (max-width: 972px) {
        .reverse .info-text:before {
          right: -49%;
          bottom: 167px; } }
      @media screen and (max-width: 812px) {
        .reverse .info-text:before {
          right: -49%;
          bottom: 193px; } }
    .reverse .info-text p {
      padding-right: 0; }

.more-features {
  z-index: 2;
  padding-bottom: 80px;
  position: relative;
  margin-bottom: 13px; }
  @media screen and (max-width: 765px) {
    .more-features {
      margin-bottom: 0;
      padding-bottom: 0; } }
  .more-features:after {
    content: "";
    background-image: url("../images/tree1.png");
    width: 760px;
    height: 600px;
    position: absolute;
    top: -110px;
    left: 0px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 950px) {
      .more-features:after {
        top: 233px; } }
    @media screen and (max-width: 750px) {
      .more-features:after {
        background-image: url("../images/mobile-img/tree2.png");
        width: 260px;
        height: 298px; } }
  .more-features:before {
    content: "";
    background-image: url("../images/tree2.png");
    width: 1475px;
    height: 732px;
    position: absolute;
    top: -220px;
    right: 0px;
    background-repeat: no-repeat;
    z-index: 1; }
    @media screen and (max-width: 950px) {
      .more-features:before {
        top: -76px; } }
    @media screen and (max-width: 750px) {
      .more-features:before {
        background-image: url("../images/mobile-img/tree2 (1).png");
        width: 391px;
        height: 309px;
        top: 14px; } }

.cards-inner {
  justify-content: space-between;
  display: flex;
  width: 100%;
  z-index: 4;
  margin-top: 24px; }
  @media screen and (max-width: 950px) {
    .cards-inner {
      flex-wrap: wrap; } }
  .cards-inner .card-inactive {
    opacity: 0.5;
    width: 100%; }
    .cards-inner .card-inactive .inactive-text {
      padding-bottom: 0;
      font-family: 'Karla';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 145%;
      color: #F1BC51; }
      @media screen and (max-width: 550px) {
        .cards-inner .card-inactive .inactive-text {
          font-size: 13px; } }
    .cards-inner .card-inactive p {
      padding: 0; }
  .cards-inner .card {
    background: #1D1E22;
    border: 1px solid #F1BC51;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 1; }
    .cards-inner .card .card-title {
      padding: 18px 18px 0px;
      border-bottom: 1px solid #F1BC51; }
      @media screen and (max-width: 570px) {
        .cards-inner .card .card-title {
          padding: 9px 13px 0px; } }
      @media screen and (max-width: 570px) {
        .cards-inner .card .card-title .info-title-m3 {
          font-size: 13.0421px;
          line-height: 132.33%;
          margin-bottom: 12px; } }
    .cards-inner .card p {
      padding: 27px 13px 48px;
      font-family: 'Karla';
      font-size: 18px;
      line-height: 145%;
      text-align: center;
      color: #F2F2F2; }
      @media screen and (max-width: 570px) {
        .cards-inner .card p {
          font-size: 13px;
          line-height: 145%;
          padding: 11px 7px 28px; } }
    .cards-inner .card img {
      width: 45.63px;
      height: 44px;
      margin-top: 26px; }

.blocker {
  z-index: 1001; }

.card-wrapper {
  display: flex;
  width: calc(25% - 17px);
  background: #1D1E22;
  padding: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  border: 2px solid #202529;
  margin-right: 26px; }
  .card-wrapper:nth-child(2) {
    margin-right: 16px; }
  .card-wrapper:last-child {
    margin-right: 0px; }
  @media screen and (max-width: 950px) {
    .card-wrapper {
      display: flex;
      width: calc(50% - 10px);
      margin-bottom: 20px;
      margin-right: 0; }
      .card-wrapper:nth-child(2) {
        margin-right: 0px; } }
  @media screen and (max-width: 650px) {
    .card-wrapper {
      width: calc(50% - 6px);
      margin-bottom: 7px;
      padding: 2px; } }

.facecheck-using {
  width: 100%;
  padding-bottom: 86px;
  background-image: url("../images/3 step bg 3 1.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover; }
  @media screen and (max-width: 765px) {
    .facecheck-using {
      padding-bottom: 13px; } }
  .facecheck-using .intro-inner {
    padding-top: 42px; }
    @media screen and (max-width: 765px) {
      .facecheck-using .intro-inner {
        padding-top: 0; } }
  .facecheck-using p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal; }
    @media screen and (max-width: 765px) {
      .facecheck-using p {
        font-size: 12px;
        line-height: 140%;
        margin-bottom: 0; } }
  .facecheck-using .info-title-m2 {
    margin-bottom: 56px;
    z-index: 1; }
    @media screen and (max-width: 765px) {
      .facecheck-using .info-title-m2 {
        margin: 0;
        margin-top: 21px;
        padding: 0 20px; } }
  .facecheck-using .button {
    margin-bottom: 25px; }
    @media screen and (max-width: 765px) {
      .facecheck-using .button {
        margin-bottom: 22px;
        margin-top: 15px; } }

.footer {
  background-color: #17181C;
  padding-top: 22px;
  padding-bottom: 70px; }
  @media screen and (max-width: 765px) {
    .footer {
      padding-bottom: 21px; } }

.footer-social {
  padding-top: 100px; }
  @media screen and (max-width: 765px) {
    .footer-social {
      padding-top: 0px; } }
  .footer-social .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer-social a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    color: white;
    font-size: 21px; }
  .footer-social img {
    width: 100%; }

.copyright {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D1E3F0;
  opacity: 0.5;
  padding: 0 57px; }
  @media screen and (max-width: 765px) {
    .copyright {
      font-size: 12px;
      line-height: 13px;
      margin-top: 14px;
      padding: 0 18px; } }

.profile-slider {
  background: #17181C url("../images/tree-pro-players.png") no-repeat;
  padding: 50px 0 263px;
  background-size: cover, contain;
  background-position: center, top;
  position: relative;
  background-position-y: -559px; }
  @media screen and (max-width: 1440px) {
    .profile-slider {
      background-position-y: -359px; } }
  @media screen and (max-width: 1240px) {
    .profile-slider {
      background-position-y: -259px; } }
  @media screen and (max-width: 1040px) {
    .profile-slider {
      padding: 50px 20px 263px;
      background-position-y: -159px; } }
  @media screen and (max-width: 765px) {
    .profile-slider {
      padding-top: 0;
      padding-bottom: 0;
      background: #17181C url("../images/mobile-img/1-a 1.png") no-repeat;
      background-position-y: -121px;
      background-size: cover, contain; } }
  .profile-slider .info-title-m2 {
    padding-left: 4px;
    margin-top: 45px; }
  .profile-slider:after {
    content: "";
    background-image: url("../images/tree-pro-players.png");
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-repeat: no-repeat; }

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -39px; }
  @media screen and (max-width: 765px) {
    .slider-wrapper {
      flex-wrap: wrap; } }
  @media screen and (max-width: 765px) {
    .slider-wrapper .info-title-m2 {
      margin-top: 24px;
      z-index: 2; } }

@media screen and (max-width: 2165px) {
  .owl-item .glacier-after::after {
    right: -5px; } }

@media screen and (max-width: 2000px) {
  .owl-item .glacier-after::after {
    right: -6px; } }

@media screen and (max-width: 1900px) {
  .owl-item .glacier-after::after {
    right: -5px; } }

@media screen and (max-width: 1700px) {
  .owl-item .glacier-after::after {
    right: -4px; } }

@media screen and (max-width: 2000px) {
  .owl-item .tftBlade-after::after {
    right: -5px; } }

.slider-card-wrapper {
  padding: 0 8px;
  display: block;
  width: 100%; }

.slider-card {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background: #202529;
  height: 252px;
  border-radius: 0 25px 0 35px;
  border: 1px solid #C59A43;
  margin-top: 63px; }
  @media screen and (max-width: 765px) {
    .slider-card {
      height: 78px; } }
  .slider-card .right-top-corner {
    position: absolute;
    right: -6px;
    top: -2px;
    background: url("../images/vertical-corner.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 765px) {
      .slider-card .right-top-corner {
        display: none; } }
  .slider-card .left-bottom-corner {
    position: absolute;
    left: 1px;
    bottom: -4px;
    background: url("../images/left-bottom.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 765px) {
      .slider-card .left-bottom-corner {
        display: none; } }
  .slider-card:after {
    content: "";
    width: 9px;
    height: calc(100% - 12px);
    border-right: 1px solid #C59A43;
    position: absolute;
    right: -7px;
    top: 13px;
    z-index: 1;
    border-top: 1px solid #C59A43;
    border-bottom: 1px solid #C59A43;
    background: #202529; }
  .slider-card:before {
    content: "";
    width: 9px;
    height: calc(100% - 12px);
    border-left: 1px solid #C59A43;
    position: absolute;
    left: -2px;
    z-index: 1;
    top: -1px;
    border-top: 1px solid #C59A43;
    border-bottom: 1px solid #C59A43;
    background: #202529; }

.owl-item {
  padding: 0 1px 3px 2px; }

.slider-avatar {
  position: relative;
  margin: 0px 100px 0 60px;
  height: 100%; }
  @media screen and (max-width: 1024px) {
    .slider-avatar {
      margin: 0px 40px 0 60px; } }
  @media screen and (max-width: 765px) {
    .slider-avatar {
      display: none; } }
  .slider-avatar:before {
    content: "";
    background-image: url("../images/bunnyfufuu.png");
    width: 226px;
    height: 354px;
    z-index: 100;
    position: absolute;
    bottom: 22px;
    right: 8px;
    background-repeat: no-repeat; }

.tft-image:before {
  content: "";
  background-image: url("../images/tftblade.png");
  width: 226px;
  height: 354px;
  z-index: 100;
  position: absolute;
  bottom: 22px;
  right: 8px;
  background-repeat: no-repeat; }

.glacier-image {
  margin-right: 5px; }
  .glacier-image:before {
    content: "";
    background-image: url("../images/theglacier.png");
    width: 226px;
    height: 354px;
    z-index: 100;
    position: absolute;
    bottom: 22px;
    right: 8px;
    background-repeat: no-repeat; }

.glacier-quote {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 34px;
  padding-top: 9px;
  z-index: 1; }
  @media screen and (max-width: 765px) {
    .glacier-quote {
      padding-top: 0px;
      padding-left: 29px; } }
  .glacier-quote:after {
    content: "“";
    position: absolute;
    top: -30px;
    font-family: 'Marcellus';
    font-size: 96px;
    line-height: 129.39%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(241, 188, 81, 0.5);
    left: 83px; }
    @media screen and (max-width: 1025px) {
      .glacier-quote:after {
        font-size: 75px; } }
    @media screen and (max-width: 765px) {
      .glacier-quote:after {
        font-size: 36px;
        line-height: 129.39%;
        top: -11px;
        left: 16px; } }
  .glacier-quote:before {
    content: "“";
    position: absolute;
    bottom: 11px;
    right: 137px;
    font-family: 'Marcellus';
    font-size: 96px;
    line-height: 129.39%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(241, 188, 81, 0.5);
    transform: rotate(180deg); }
    @media screen and (max-width: 1025px) {
      .glacier-quote:before {
        font-size: 75px; } }
    @media screen and (max-width: 765px) {
      .glacier-quote:before {
        font-size: 36px;
        line-height: 129.39%;
        bottom: -9px;
        right: 14px; } }
  .glacier-quote p {
    padding-left: 80px;
    padding-right: 10px;
    max-width: 780px;
    margin: 0;
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 130%;
    color: #C59A43; }
    @media screen and (max-width: 1025px) {
      .glacier-quote p {
        font-size: 30px; } }
    @media screen and (max-width: 925px) {
      .glacier-quote p {
        font-size: 28px;
        padding-left: 0px; } }
    @media screen and (max-width: 765px) {
      .glacier-quote p {
        font-size: 18px;
        line-height: 130%; } }
  .glacier-quote span {
    margin-top: 10px;
    display: block;
    padding-right: 137px;
    padding-left: 10px;
    font-family: 'Marcellus';
    font-size: 30px;
    line-height: 38px;
    text-align: right;
    text-transform: capitalize;
    color: #CCBA97; }
    @media screen and (max-width: 1025px) {
      .glacier-quote span {
        font-size: 20px; } }
    @media screen and (max-width: 765px) {
      .glacier-quote span {
        display: none; } }

.slider-quote {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  z-index: 1;
  padding-right: 11%; }
  @media screen and (max-width: 1024px) {
    .slider-quote {
      text-align: center; } }
  @media screen and (max-width: 765px) {
    .slider-quote {
      padding-left: 40px;
      padding-right: 40px; } }
  @media screen and (max-width: 405px) {
    .slider-quote {
      padding: 0 0 0 16px; } }
  .slider-quote p {
    padding: 0 21px 0 100px;
    position: relative;
    max-width: 780px;
    margin: 0;
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 130%;
    color: #C59A43; }
    @media screen and (max-width: 1150px) {
      .slider-quote p {
        padding: 0 20px; } }
    @media screen and (max-width: 1025px) {
      .slider-quote p {
        font-size: 30px; } }
    @media screen and (max-width: 925px) {
      .slider-quote p {
        font-size: 28px; } }
    @media screen and (max-width: 765px) {
      .slider-quote p {
        font-size: 18px;
        line-height: 130%; } }
    .slider-quote p:before {
      content: "“";
      position: absolute;
      bottom: -36px;
      right: 0px;
      font-family: 'Marcellus';
      font-size: 96px;
      line-height: 129.39%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(241, 188, 81, 0.5);
      transform: rotate(180deg); }
      @media screen and (max-width: 1025px) {
        .slider-quote p:before {
          font-size: 75px; } }
      @media screen and (max-width: 765px) {
        .slider-quote p:before {
          font-size: 36px;
          line-height: 129.39%;
          right: 0px;
          bottom: -9px; } }
      @media screen and (max-width: 565px) {
        .slider-quote p:before {
          right: 21px; } }
    .slider-quote p:after {
      content: "“";
      position: absolute;
      top: -39px;
      left: 0px;
      font-family: 'Marcellus';
      font-size: 96px;
      line-height: 129.39%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(241, 188, 81, 0.5); }
      @media screen and (max-width: 1025px) {
        .slider-quote p:after {
          font-size: 75px; } }
      @media screen and (max-width: 765px) {
        .slider-quote p:after {
          font-size: 36px;
          line-height: 129.39%;
          top: -14px;
          left: 0px; } }
      @media screen and (max-width: 565px) {
        .slider-quote p:after {
          top: -8px; } }
  .slider-quote span {
    margin-top: 18px;
    display: block;
    font-family: 'Marcellus';
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: right;
    text-transform: capitalize;
    color: #CCBA97; }
    @media screen and (max-width: 1025px) {
      .slider-quote span {
        font-size: 20px; } }
    @media screen and (max-width: 765px) {
      .slider-quote span {
        display: none; } }

.profile-cards-mobile {
  display: none; }
  @media screen and (max-width: 765px) {
    .profile-cards-mobile {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;
      padding: 120px 20px 0; } }
  @media screen and (max-width: 765px) and (max-width: 565px) {
    .profile-cards-mobile {
      padding: 120px 29px 0 32px; } }
  @media screen and (max-width: 765px) {
      .profile-cards-mobile .avatar-big-wrapper {
        position: relative; }
      .profile-cards-mobile .card-big-avatar {
        position: absolute;
        top: -46px;
        right: 1px; }
      .profile-cards-mobile .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #CCBA97;
        transition: 0.3s linear; }
        .profile-cards-mobile .profile-card .avatar-big-wrapper {
          display: none; }
        .profile-cards-mobile .profile-card .avatar-small {
          display: block; }
        .profile-cards-mobile .profile-card.active {
          position: absolute;
          left: calc(50% - 82px);
          top: 120px; } }
      @media screen and (max-width: 765px) and (max-width: 455px) {
        .profile-cards-mobile .profile-card.active {
          top: 102px; } }
  @media screen and (max-width: 765px) {
          .profile-cards-mobile .profile-card.active .avatar-big-wrapper {
            display: block; }
          .profile-cards-mobile .profile-card.active .avatar-small {
            display: none; }
        .profile-cards-mobile .profile-card:first-child {
          margin-left: 0; }
        .profile-cards-mobile .profile-card:hover {
          color: #E6E1D8; }
        .profile-cards-mobile .profile-card .profile-title {
          font-family: 'Karla';
          font-size: 10px;
          line-height: 12px;
          text-align: center; }
        .profile-cards-mobile .profile-card.active .profile-circle img {
          box-shadow: 0px 0px 15px #0BB1C3; }
        .profile-cards-mobile .profile-card .profile-circle img {
          border-radius: 50%;
          transition: 0.3s linear; }
          .profile-cards-mobile .profile-card .profile-circle img:hover {
            box-shadow: 0px 0px 15px #0BB1C3; }
        .profile-cards-mobile .profile-card.active .profile-progress:before {
          width: 100%;
          transition: all 5s linear; }
        .profile-cards-mobile .profile-card .profile-progress {
          margin-top: 3px;
          position: relative;
          width: 44px;
          height: 5px;
          border: 1px solid #F1BC51;
          margin-bottom: 6px; }
          .profile-cards-mobile .profile-card .profile-progress:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0px;
            height: 100%;
            background: orange; } }

.profile-cards {
  display: flex;
  margin-top: 52px;
  justify-content: space-between;
  width: 320px;
  align-items: center; }
  @media screen and (max-width: 765px) {
    .profile-cards {
      display: none; } }

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #CCBA97;
  transition: 0.3s linear; }
  .profile-card:first-child {
    margin-left: -8px; }
  .profile-card:hover {
    color: #E6E1D8; }
  .profile-card .profile-title {
    font-family: 'Karla';
    font-size: 12px;
    line-height: 14px;
    text-align: center; }
  .profile-card.active .profile-circle img {
    box-shadow: 0px 0px 15px #0BB1C3; }
  .profile-card .profile-circle img {
    border-radius: 50%;
    transition: 0.3s linear; }
    .profile-card .profile-circle img:hover {
      box-shadow: 0px 0px 15px #0BB1C3; }
  .profile-card.active .profile-progress:before {
    width: 100%;
    transition: all 5s linear; }
  .profile-card .profile-progress {
    margin-top: 8px;
    position: relative;
    width: 62px;
    height: 5px;
    border: 1px solid #F1BC51; }
    .profile-card .profile-progress:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 100%;
      background: orange;
      z-index: 0; }

.tree-1 {
  position: absolute;
  top: -189px;
  right: 0; }
  @media screen and (max-width: 770px) {
    .tree-1 {
      top: 0px; } }

.tree-2 {
  position: absolute;
  top: -194px;
  left: 0; }
  @media screen and (max-width: 770px) {
    .tree-2 {
      top: 0px; } }

.owl-carousel .owl-item img {
  display: block;
  width: unset !important; }

.modal {
  width: 524px;
  height: 602px;
  border-radius: unset !important;
  background: #16161A !important;
  border: 1px solid #2A3036 !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5) !important; }
  @media screen and (max-width: 770px) {
    .modal {
      width: auto; } }

.modal-title {
  border-bottom: 1px solid #2A3036;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }
  .modal-title h3 {
    margin: 0;
    margin-bottom: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    line-height: 25px; }

.form-inner {
  padding: 10px 30px; }

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .modal-form label {
    font-family: 'Karla';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #917444;
    margin-bottom: 5px; }
  .modal-form input,
  .modal-form textarea {
    width: 100%;
    background: #0D0D0F;
    border: 1px solid #043E4C;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    color: #CCBA97;
    font-family: 'Karla';
    font-size: 16px;
    line-height: 19px; }
  .modal-form input::placeholder {
    opacity: 0.4; }
  .modal-form textarea::placeholder {
    opacity: 0.4; }
  .modal-form textarea {
    resize: none; }

textarea {
  resize: none;
  overflow: hidden; }
  @media screen and (max-width: 700px) {
    textarea {
      overflow: auto; } }

#charactersRemaining {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #917444;
  margin-bottom: 5px; }

.modal a.close_modal {
  position: absolute;
  text-decoration: none;
  color: #F2F2F2;
  top: 20px;
  right: 14px;
  background: url("../images/Vector (Stroke).svg") no-repeat;
  width: 10px;
  height: 10px; }

.modal a.close-modal {
  display: none !important; }

.characters-left {
  position: absolute;
  top: 0;
  left: 27px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #917444;
  margin-bottom: 5px; }

.error {
  border: 1px solid #EB5757 !important;
  transition: 0.3s; }

.error-text {
  position: absolute;
  bottom: 67px;
  left: 165px;
  font-size: 12px;
  line-height: 14px;
  color: #EB5757; }

.accepted {
  position: absolute;
  bottom: 67px;
  left: 176px;
  font-family: 'Karla';
  font-size: 12px;
  line-height: 14px;
  color: #27AE60; }

.submit-modal {
  display: block;
  width: 81px;
  border: none;
  text-decoration: none;
  padding: 6px 6px;
  background: #043E4C;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  color: #0BB1C3;
  transition: 0.3s linear;
  margin-top: 32px; }
  .submit-modal:hover {
    background: #0BB1C3;
    color: #043E4C; }

[data-aos="line-1-anim"]:after {
  transition: width 2s;
  width: 0; }

[data-aos="line-1-anim"].aos-animate:after {
  width: 590px; }
  @media screen and (max-width: 1050px) {
    [data-aos="line-1-anim"].aos-animate:after {
      width: 491px; } }
  @media screen and (max-width: 765px) {
    [data-aos="line-1-anim"].aos-animate:after {
      width: 50px; } }

[data-aos="line-2-anim"]:after {
  transition: all 2s;
  width: 0; }

[data-aos="line-2-anim"].aos-animate:after {
  width: 624px; }
  @media screen and (max-width: 1050px) {
    [data-aos="line-2-anim"].aos-animate:after {
      width: 491px; } }
  @media screen and (max-width: 765px) {
    [data-aos="line-2-anim"].aos-animate:after {
      width: 50px; } }

[data-aos="line-3-anim"]:after {
  transition: all 2s;
  width: 0; }

[data-aos="line-3-anim"].aos-animate:after {
  width: 590px; }
  @media screen and (max-width: 1050px) {
    [data-aos="line-3-anim"].aos-animate:after {
      width: 491px; } }
  @media screen and (max-width: 765px) {
    [data-aos="line-3-anim"].aos-animate:after {
      width: 50px; } }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #CCBA97;
  transition: background-color 5000s ease-in-out 0s;
  background: #0D0D0F;
  border: 1px solid #043E4C;
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  line-height: 19px; }

body::-webkit-scrollbar {
  width: 2px;
  border-radius: 50%; }

body::-webkit-scrollbar-thumb {
  background-color: #DEAD4B;
  outline: 1px solid #DEAD4B; }

textarea::-webkit-scrollbar {
  width: 2px;
  border-radius: 50%; }

textarea::-webkit-scrollbar-thumb {
  background-color: #DEAD4B;
  outline: 1px solid #DEAD4B; }
